<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Log In | Chat Up</title>
    <script
      src="https://kit.fontawesome.com/97e80ba977.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="bg-img">
      <form action="/signin" method="POST" class="container">
        <h1>Login</h1>
        <% if (success_message != '') {%>
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong> <%= success_message %> </strong> 
          </div>
        <% } %>
        <% if(error != ''){ %>
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong><%= error %></strong> 
          </div>
        <% } %>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required />

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />

        <button type="submit" class="btn">Login</button>
      </form>
    </div>


    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
